// StarRating.scss

.star-rating {
  display: flex;
  align-items: center;

  .rating {
    background: #FF6060; // Couleur de remplissage des étoiles
  }
.stars img {
    width: 4em;
}
  // Styles pour les écrans de taille moyenne (900px et moins)
  @media (max-width: 900px) {
    span{
      font-size: 3em !important;
    }
    .rating {
      font-size: 14px; // Ajuster la taille des étoiles pour les petits écrans
    }
  }
}


.stars {
  width: 80%;
  margin: auto;
  float: right;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  justify-content: flex-end;

  // Styles pour les écrans de taille moyenne (900px et moins)
  @media (max-width: 900px) {
    width: 100%; // Utiliser la largeur complète sur les petits écrans
    justify-content: flex-start; // Aligner à gauche sur les petits écrans
  }
}
