.stars {
    width: 80%;
    margin: auto;
    float: right;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    justify-content: flex-end;
    cursor: default;
    pointer-events: none;
}
.rating {
    user-select: none; // Désactive la sélection de texte
    cursor: default; // Défini le curseur par défaut
    display: inline-flex;
  }
  
  .star-rating {
    pointer-events: none; // Désactiver les interactions
  }  