// Header.scss
body {
  font-family: 'Montserrat', sans-serif; /* Remplacez 'Nom de la police' par le nom réel de votre police */
}
.header {
  background-color: #fff;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .logo-container {
    flex: 1; // Utilise l'espace disponible
    display: flex;
    align-items: center;

    .logo {
      max-width: 100%;
      height: auto;
      margin-left: 10%;
    }
  }

  .nav {
    .nav-list {
      list-style: none;
      margin: 0;
      padding: 0;
      display: flex;

      .nav-item {
        margin-right: 20px;

        a {
          text-decoration: none;
          color: #333;
          font-weight: bold;
          font-size: 16px;
          transition: color 0.3s ease-in-out;

          &:hover {
            color: #FF6060;
          }
        }
      }
    }
  }

  // Responsive styles for screens smaller than 768px
  @media (max-width: 900px) {


    .nav {
      margin-top: 20px;

      .nav-list {
        margin: auto 3em;

        .nav-item {
          margin-right: 25px;
          margin-bottom: 10px;
        }
      }
    }
  }
}
