.contenaire {
  width: 80%;
  margin: auto;

  .souContAB {
    display: grid;
    grid-template-columns: 50% 50%;
    color: #ff6060;
    gap: 1em;
    justify-content: space-around;
    width: 100%;
    margin: auto;

    @media (max-width: 900px) {
        display: block;
      .host-picture {
        width: 150px;
        height: 150px;
        border-radius: 50%;
        overflow: hidden;

        img {
          background-size: cover;
          width: 100%;
        }
      }
    }
  }


  .souContA {
    padding: 20px;

    h2 {
      margin-bottom: 10px;
      font-size: 36px;
      line-height: 51px;
    }

    p {
      font-size: 18px;
      margin-bottom: 5px;
    }

    .tags-container {
      display: flex;
      gap: 10px;

      .tag {
        background-color: #ff6060;
        color: #fff;
        padding: 5px 10px;
        border-radius: 10px;
        font-size: 14px;
        font-weight: 500;
        width: 115px;
        height: 25px;
        align-items: center;
        text-align: center;
        display: flex;
        justify-content: space-around;
      }
    }
  }

  .souContB {
    padding: 20px;
    @media (max-width: 900px) {
      display: flex;
      flex-direction: row-reverse;
      .host-info {
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        margin-bottom: none;
        justify-content: flex-end;
      }
  
  }
    .host-info {
      display: flex;
      align-items: center;
      margin-bottom: 20px;
      justify-content: flex-end;
      @media (max-width: 900px) {
     
          display: grid;
          grid-template-columns: 1fr 1fr;
          align-items: center;
          margin-bottom: none;
          justify-content: flex-end;
        }
    
    
      h2 {
        width: 10%;
        font-weight: 500;
        margin-top: 0;
        font-size: 18px;
      }

      .host-picture {
        width: 64px;
        height: 64px;
        border-radius: 50%;
        overflow: hidden;

        img {
          background-size: cover;
          width: 100%;
        }
      }
    }

    .description-equipments {
      p {
        font-size: 16px;
        color: #333;
        margin-bottom: 10px;
      }
    }
  }
}
