/* HubInfo.scss */

.hub-info {
  display: grid;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 3em;
  width: 80%;
  margin: 2em auto;

  .hub-block {
    margin: auto;

    border-radius: 8px;
    cursor: pointer;
    overflow: hidden;
    background-size: cover;
    width: 100%;
    height: 340px;
    margin-bottom: 20px;
    text-decoration: none;

 
    &:hover {
      transform: scale(1.05);
 
    }
    .linear{

      padding: 1em;
      width: 100%;
      height: -webkit-fill-available;
      color: white;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-end;
      align-content: flex-start;
      flex-wrap: nowrap;
  }
  .linear:hover{
    transition: transform 0.5s ease-in;
    background: linear-gradient(rgba(255, 255, 255, 0) 60%, rgba(0, 0, 0, 0.8) 93%), no-repeat;
    -webkit-transition: transform 0.5s ease-in;
    -moz-transition: transform 0.5s ease-in;
    -ms-transition: transform 0.5s ease-in;
    -o-transition: transform 0.5s ease-in;
}
    h3 {
      font-size: 21px;
      width: 80%;
      text-decoration: none;
      margin: 0;
    }
    p{
      text-decoration:none;
    }
  }

 


}
